

<div id="container">
    <form>
        <button asp-action="GetAll" method="get" asp-controller="Product" class="button-74">Get All Products</button>
        <button asp-action="Add" formmethod="get" asp-controller="Product" class="button-74">Add Product</button>
        <button asp-action="Delete" formmethod="get" asp-controller="Product" class="button-74">Delete Product</button>

    </form>
</div>